<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tags</key>
	<array>
		<string>辣／重口味</string>
		<string>酸甜／爽口</string>
		<string>甜／甜腻</string>
		<string>另类／奇怪</string>
		<string>快餐</string>
		<string>外卖</string>
	</array>
	<key>Achievements</key>
	<array>
		<string>重口味</string>
		<string>胖子</string>
		<string>小清新</string>
		<string>来者不拒</string>
		<string>速食主义</string>
		<string>吃货</string>
		<string>宅神</string>
		<string>蕃茄至尊</string>
	</array>
</dict>
</plist>
