<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>标签</key>
	<array>
		<dict>
			<key>标签种类</key>
			<string>口味</string>
			<key>标签图片路径</key>
			<string></string>
			<key>标签名称</key>
			<string>辣／重口味</string>
		</dict>
		<dict>
			<key>标签种类</key>
			<string>口味</string>
			<key>标签图片路径</key>
			<string></string>
			<key>标签名称</key>
			<string>酸甜／爽口</string>
		</dict>
		<dict>
			<key>标签种类</key>
			<string>口味</string>
			<key>标签图片路径</key>
			<string></string>
			<key>标签名称</key>
			<string>甜／甜腻</string>
		</dict>
		<dict>
			<key>标签种类</key>
			<string>口味</string>
			<key>标签图片路径</key>
			<string></string>
			<key>标签名称</key>
			<string>另类／奇怪</string>
		</dict>
		<dict>
			<key>标签种类</key>
			<string>外卖</string>
			<key>标签图片路径</key>
			<string></string>
			<key>标签名称</key>
			<string>外卖</string>
		</dict>
		<dict>
			<key>标签种类</key>
			<string>快餐</string>
			<key>标签图片路径</key>
			<string></string>
			<key>标签名称</key>
			<string>快餐</string>
		</dict>
	</array>
	<key>成就</key>
	<array>
		<string>重口味</string>
		<string>胖子</string>
		<string>小清新</string>
		<string>来者不拒</string>
		<string>速食主义</string>
		<string>吃货</string>
		<string>宅神</string>
		<string>蕃茄至尊</string>
	</array>
</dict>
</plist>
