<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分19秒</string>
		<key>价格</key>
		<string>15</string>
		<key>名称</key>
		<string>澳门烤肉饭</string>
		<key>图片</key>
		<string>/resource/1.jpg</string>
		<key>美食标签</key>
		<array>
			<string>1</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>7.8</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>游子口福居美食馆</string>
			<key>电话</key>
			<array>
				<string>13764248899</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分20秒</string>
		<key>价格</key>
		<string>18</string>
		<key>名称</key>
		<string>宫爆鸡丁</string>
		<key>图片</key>
		<string>/resource/2.jpg</string>
		<key>美食标签</key>
		<array>
			<string>1</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>9.3</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>大河人家</string>
			<key>电话</key>
			<array>
				<string>15021768823</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分21秒</string>
		<key>价格</key>
		<string>20</string>
		<key>名称</key>
		<string>溜肉段</string>
		<key>图片</key>
		<string>/resource/3.jpg</string>
		<key>美食标签</key>
		<array>
			<string>3</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>8.9</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>大河人家</string>
			<key>电话</key>
			<array>
				<string>15021768823</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分22秒</string>
		<key>价格</key>
		<string>8.5</string>
		<key>名称</key>
		<string>香辣鸡腿堡</string>
		<key>图片</key>
		<string>/resource/4.jpg</string>
		<key>美食标签</key>
		<array>
			<string>1</string>
			<string>3</string>
			<string>5</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>7.9</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>奇士客</string>
			<key>电话</key>
			<array>
				<string>69583667</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分23秒</string>
		<key>价格</key>
		<string>5</string>
		<key>名称</key>
		<string>香豆腐</string>
		<key>图片</key>
		<string>/resource/5.jpg</string>
		<key>美食标签</key>
		<array>
			<string>1</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>9.8</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>乐惠面馆</string>
			<key>电话</key>
			<array>
				<string>13564954767</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分24秒</string>
		<key>价格</key>
		<string>10</string>
		<key>名称</key>
		<string>地三鲜盖浇饭</string>
		<key>图片</key>
		<string>/resource/6.jpg</string>
		<key>美食标签</key>
		<array>
			<string>2</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>9.2</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>朋来阁</string>
			<key>电话</key>
			<array>
				<string>13564641372</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分25秒</string>
		<key>价格</key>
		<string>12</string>
		<key>名称</key>
		<string>鱼香肉丝饭</string>
		<key>图片</key>
		<string>/resource/7.jpg</string>
		<key>美食标签</key>
		<array>
			<string>2</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>8.9</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>游子口福居美食馆</string>
			<key>电话</key>
			<array>
				<string>13764248899</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分26秒</string>
		<key>价格</key>
		<string>26</string>
		<key>名称</key>
		<string>广式烤鸭</string>
		<key>图片</key>
		<string>/resource/8.jpg</string>
		<key>美食标签</key>
		<array>
			<string>3</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>8.5</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>游子口福居美食馆</string>
			<key>电话</key>
			<array>
				<string>13764248899</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分27秒</string>
		<key>价格</key>
		<string>12</string>
		<key>名称</key>
		<string>韩国泡菜培根蛋包饭</string>
		<key>图片</key>
		<string>/resource/9.jpg</string>
		<key>美食标签</key>
		<array>
			<string>2</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>8.2</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>宝盛中西餐</string>
			<key>电话</key>
			<array>
				<string>26655972</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分28秒</string>
		<key>价格</key>
		<string>15</string>
		<key>名称</key>
		<string>奶油芝士条</string>
		<key>图片</key>
		<string>/resource/10.jpg</string>
		<key>美食标签</key>
		<array>
			<string>3</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>8.3</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>吉姆丽德</string>
			<key>电话</key>
			<array>
				<string>13331835736</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分29秒</string>
		<key>价格</key>
		<string>16</string>
		<key>名称</key>
		<string>蝴蝶虾（6只）</string>
		<key>图片</key>
		<string>/resource/11.jpg</string>
		<key>美食标签</key>
		<array>
			<string>3</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>8.7</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>吉姆丽德</string>
			<key>电话</key>
			<array>
				<string>13331835736</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分30秒</string>
		<key>价格</key>
		<string>16</string>
		<key>名称</key>
		<string>手撕包菜</string>
		<key>图片</key>
		<string>/resource/12.jpg</string>
		<key>美食标签</key>
		<array>
			<string>2</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>7.8</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>大犇牛排</string>
			<key>电话</key>
			<array>
				<string>13817204677</string>
				<string>13816948118</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分31秒</string>
		<key>价格</key>
		<string>10</string>
		<key>名称</key>
		<string>京酱肉丝盖浇饭</string>
		<key>图片</key>
		<string>/resource/13.jpg</string>
		<key>美食标签</key>
		<array>
			<string>1</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>9</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>炉生济</string>
			<key>电话</key>
			<array>
				<string>18717920550</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分32秒</string>
		<key>价格</key>
		<string>10</string>
		<key>名称</key>
		<string>家常豆腐盖浇饭</string>
		<key>图片</key>
		<string>/resource/14.jpg</string>
		<key>美食标签</key>
		<array>
			<string>2</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>5.9</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>炉生济</string>
			<key>电话</key>
			<array>
				<string>18717920550</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>上传时间</key>
		<string>2012年11月27日20时20分33秒</string>
		<key>价格</key>
		<string>9</string>
		<key>名称</key>
		<string>翠玉冻柠檬蜜</string>
		<key>图片</key>
		<string>/resource/15.jpg</string>
		<key>美食标签</key>
		<array>
			<string>2</string>
			<string>6</string>
		</array>
		<key>评分</key>
		<string>9.8</string>
		<key>餐馆</key>
		<dict>
			<key>名称</key>
			<string>CoCo都可茶饮</string>
			<key>电话</key>
			<array>
				<string>18221308788</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
